.do {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  position: relative;
  left: 22vw;
  color: white;
}
@media only screen and (max-width: 1024px) {
  .do {
    left: 28vw;
  }
}
@media only screen and (max-width: 700px) {
  .do {
    left: 2vw;
  }
}
@media only screen and (max-width: 900px) {
  .do {
    left: 2vw;
  }
}
@media only screen and (max-width: 500px) {
  .do {
    left: -6vw;
  }
}
@media only screen and (max-width: 279px) {
  .do {
    align-self: start;
    left: 12vw;
  }
}
@media only screen and (max-width: 400px) {
  .do {
    align-self: start;
    left: 12vw;
  }
}

input {
  outline: none;
  border: 1rem orangered solid;
  background-color: peru;
  height: 12vh;
  width: 33vw;
  font-size: 1.5rem;
  align-self: flex-end;
  position: relative;
  left: 33vh;
}
@media only screen and (max-width: 1024px) {
  input {
    align-self: center;
  }
}
@media only screen and (max-width: 700px) {
  input {
    align-self: center;
    left: 3vw;
  }
}
@media only screen and (max-width: 900px) {
  input {
    align-self: center;
    left: 2vw;
  }
}
@media only screen and (max-width: 500px) {
  input {
    align-self: start;
    width: 66vw;
  }
}
@media only screen and (max-width: 279px) {
  input {
    align-self: start;
    left: 12vw;
  }
}
@media only screen and (max-width: 400px) {
  input {
    align-self: start;
    left: 12vw;
  }
}

.result {
  background-color: white;
}
@media only screen and (max-width: 1024px) {
  .result {
    margin-top: 2vh;
    align-self: start;
    position: relative;
    left: 12vw;
  }
}

button {
  height: 4vh;
  width: 12vw;
  background-color: #00aeff;
  align-self: flex-end;
  position: relative;
  left: 8vw;
}
@media only screen and (max-width: 1024px) {
  button {
    align-self: center;
    position: relative;
    left: 28vw;
  }
}
@media only screen and (max-width: 700px) {
  button {
    left: 3vw;
  }
}
@media only screen and (max-width: 900px) {
  button {
    left: 2vw;
  }
}
@media only screen and (max-width: 500px) {
  button {
    align-self: start;
  }
}
@media only screen and (max-width: 279px) {
  button {
    align-self: start;
    left: 12vw;
    width: 33vw;
  }
}
@media only screen and (max-width: 400px) {
  button {
    align-self: start;
    left: 12vw;
  }
}

li {
  max-width: 20vw;
  max-height: 30vh;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
  font-size: 3rem;
  list-style: none;
  margin: 10% auto;
}
@media only screen and (max-width: 700px) {
  li {
    max-width: 40vw;
    max-height: 60vh;
  }
}
@media only screen and (max-width: 900px) {
  li {
    max-width: 40vw;
    max-height: 60vh;
  }
}
@media only screen and (max-width: 500px) {
  li {
    max-width: 44vw;
    max-height: 60vh;
    font-size: 1rem;
  }
}

li div {
  position: absolute;
  left: 44vw;
  top: 0;
  display: flex;
  flex-flow: row;
}
@media only screen and (max-width: 1024px) {
  li div {
    left: 33vw;
  }
}
@media only screen and (max-width: 500px) {
  li div {
    left: 66vw;
  }
}
@media only screen and (max-width: 279px) {
  li div {
    left: 44vw;
  }
}
@media only screen and (max-width: 400px) {
  li div {
    left: 55vw;
  }
}

li div button {
  width: 8rem;
  height: 4rem;
}
@media only screen and (max-width: 500px) {
  li div button {
    width: 2rem;
    height: 3rem;
  }
}

.del {
  color: red;
  background-color: burlywood;
  font-size: 1.5rem;
  position: relative;
  right: 22vw;
}

.completed {
  text-shadow: 5px 5px 5px gray;
}

.completed::first-letter {
  font-size: 6rem;
  text-transform: "";
}

.done {
  color: green;
  background-color: burlywood;
  font-size: 1.5rem;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  background-color: #2c2b31;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
