
body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    background-color: hsl(249,6%,18%);
    flex-direction: column;
};
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}