
.do{
    font-size: 1.5rem;
    font-weight: bolder;
  color: red;
}
input{
    outline: none;
    border: 1rem orangered solid;
    background-color: peru;
    height: 12vh;
    width: 33vw;
    font-size: 1.5rem;
    
}
.result{

}
button{
      height: 4vh;
    width: 12vw;
    background-color: rgb(0, 174, 255);
}
ul{
  display: flex;
  flex-direction: column;

}
li {
  align-self: flex-start;
width: 55vw;
  max-height: 30vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 3rem;
    list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include responsive(minilaptop){
    flex-direction: column;

  }
    
  }
  li div {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
  
  }
  li div button {
    width: 8rem;
    height: 4rem;
    
  }
  .del {
    color: red;
    background-color: burlywood;
    font-size: 1.5rem;
  }
  .completed {
    text-shadow: 5px 5px 5px gray;
  }
  .completed::first-letter{
    font-size: 6rem;
    text-transform: to-upper-case($string: "");
  }
  .done {
    color: green;
    background-color: burlywood;
    font-size: 1.5rem;
  }